@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap);

body { 
  font-family: 'Slabo 27px';
  font-size: 1.1em;
}

h1, h2, h3 {
  font-family: 'Roboto Slab';
  font-weight: bold;
}

.remark-code, .remark-inline-code {
  font-family: 'Roboto Mono';
  font-size: 0.8em;
}

